:host {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
}

.chart-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
  fill: gray;
}

.tick {
  stroke: gray;
  stroke-width: 2px;
}

.graph {
  min-height: 200px;
}

.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.bar {
  cursor: pointer;
}

.bar:hover {
  fill: gray;
}

.labels {
  font-size: 13px;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
}

.data {
  stroke-width: 1;
}

.legend {}
